@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, "Andale Mono", "Lucida Console", 
                 "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding-top: 200px;
    background-image: url(pexels-archbob-1312017.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.trees {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 550px;
    height: 450px;
    min-height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.text {
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding-top: 100px;
    padding-bottom: 100px; 
}
h1 {
    text-align: center;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-top: 25px;
}
h2 {
	text-align: center
}

/* ---- TABLE STYLING ---- */
.table {
    width: 95%;
    margin: 20px auto;
    border: 5px solid black;
    background-color: #FDD84B;
    padding: 10px;
    font-size: large;
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    word-spacing: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    text-align: center;
}

table p {
    color: black;
    text-align: center;
}

.Table_01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    height: 900px;
}
table, th, td {
    border: 1px solid #000000;   
    border-collapse: collapse; 
}

td, th {
    padding: 10px;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.webpage-template-02 {
    position: absolute;
    left: 2px;
    top: 0;
    width: 1197px;
    height: 286px;
    padding-top: 120px;
}
.webpage-template-02 img {
    display: block;
    width: 100%;
    border-bottom: 5px solid #000000;
    border-top: thick solid #000000;
}
header {
    background-color: #E5E569;
    padding: 10px;
    width: 930px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: #000000;
}
footer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    float: left;
}
#page-content {
    width: 950px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-top: 8px solid #F1C232;
    color: #000000;
}
nav p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    background-color: #FEE852;
    border: 2px solid #000;
    margin-bottom: 8px;
}

nav p:hover {
    background-color: #f1c232;
    color: #000;
}

nav {
    width: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: right;
    text-align: center;
    color: #000000;
}
#main-copy {
    width: 500px;
    min-height: 200px;
    margin-right: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    float: left;
    background-color: #FDFDFD;
    border: thick dashed #FEE852;
    margin-top: 10px;
}
#sidebar {
    width: 290px;
    min-height: 300px;
    float: right;
    background-image: url(parchment.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 0px;
}
